<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">

<body>

<div th:fragment="delete_dialog(link)" class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deleting element</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete element?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form th:action="${link}" method="post">
                    <input type="hidden" id="deleteId" name="deleteId">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('deleteModal')
            .addEventListener('shown.bs.modal', function (e) {
                    document.getElementById('deleteId').setAttribute('value', e.relatedTarget.value);
                }
            );
    </script>
</div>

</body>

</html>